HOST=
PORT=
MAX_USERS=

DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=
TIME_INTERVAL_MINUTES=

SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

HH_BASE_URL=
HH_API_KEY=
PARSER_INTERVAL_SECONDS=
PER_PAGE=

ENCODING=
DEBUG=
APP_NAME=
